.text-center{
    text-align: left;
    padding: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

/* .row .form-group{ 
    padding-top: 80px;
}

.justify-content-md-center{
    padding-top: 5;
} */

/* .row .form-group{ 
    padding-top: 80px;
}

.justify-content-md-center{
    padding-top: 5;
} */

/* .row .form-group{ 
    padding-top: 80px;
}

.justify-content-md-center{
    padding-top: 5;
} */
